<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first</title>
</head>
<body>
<table border="2px">
    <th scope="col">resource_id</th>
    <th scope="col">title</th>
    <th scope="col">person</th>
    <th scope="col">content</th>
    <th scope="col">picture_uri</th>
    <th scope="col">source</th>
    <th scope="col">is_published</th>
    <th scope="col">created_date</th>
    <th scope="col">updated_date</th>
    {% for object in content %}
        <tr>
        <td>{{ object.resource_id }}</td>
        <td>{{ object.title }}</td>
        <td>{{ object.person }}</td>
        <td>{{ object.content }}</td>
        <td><img src="{{ object.picture_uri }}" alt="Картинка"></td>
        <td>{{ object.source }}</td>
        <td>{{ object.is_published }}</td>
        <td>{{ object.created_date }}</td>
        <td>{{ object.updated_date }}</td>
    {% empty %}
        <td>Ничего</td>
    {% endfor %}
    </tr>
</table>
</body>
</html>